<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <p-growl [value]="msgs"></p-growl>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_name.valid }">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control"
             (keydown.space)="$event.preventDefault()" #_name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !_name.valid" class="help-block">Name is required or Invalid</div>
    </div>
    <div class="form-group">
      <label>Days</label>
      <p-multiSelect [options]="_days" [(ngModel)]="selectedDays" name="selectedDays"
                     [style]="{'width':'250px'}"></p-multiSelect>
     </div>
    <div class="form-group">
      <label>User ID</label>
      <p-dropdown [options]="_userid" [(ngModel)]="selectedUserId" name="selectedUserId"
                  [style]="{'width':'250px'}" [filter]="true" (onChange)="onChange()"
      ></p-dropdown>
    </div>
    <div class="form-group">
      <label>Community ID</label>
      <p-dropdown [disabled]="!dropdown" [options]="_communityid" [(ngModel)]="selectedCommunityId"
                  name="selectedCommunityId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>
    </div>
    <div class="form-group">
        <h3>Start Date</h3>
        <p-calendar [(ngModel)]="startdate" name="startdate" [showIcon]="true" [showTime]="true"></p-calendar>
    </div>
    <div class="form-group">
        <h3>End Date</h3>
        <p-calendar [(ngModel)]="enddate" name="enddate" [showIcon]="true" [showTime]="true"></p-calendar>
    </div>
    <div [hidden]="!edited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Public.valid }">
      <label for="isPublic">IsActive</label>
      <input  type="text" [(ngModel)]="isPublic" name="isPublic" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Public="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Public.valid" class="help-block">Write true or false</div>
    </div>
    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Add Class</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">Classes Grid</button>
      <button [disabled]="!btnedit" (click) = 'editClasses()' class="btn btn-primary">Edit Class</button>
    </div>
  </form>
</div>
</body>
</html>
