<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Senior Sponge</title>

  <!-- Style Sheets !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css">
  <script>

  </script>
</head>

<body>
<div class="container-fluid">
  <!-- style="height: 100vh;"!-->
  <div class="row">
    <div class="col-xs-2 col-sm-2 chat-list" style="height: 100vh;">
      <div class="dropdown">
        <button class="select-category" type="button" data-toggle="dropdown">Select Category<span
          class="glyphicon glyphicon-menu-hamburger"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Family</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Helpers</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <div class="chat-member-container">
        <img src="./assets/images/1.jpg" class="img-circle img-responsive">
        <img src="./assets/images/2.jpg" class="img-circle img-responsive">
        <img src="./assets/images/3.jpg" class="img-circle img-responsive">
        <img src="./assets/images/4.jpg" class="img-circle img-responsive">
        <img src="./assets/images/5.jpg" class="img-circle img-responsive">
        <img src="./assets/images/6.jpg" class="img-circle img-responsive">
        <img src="./assets/images/7.jpg" class="img-circle img-responsive">
        <img src="./assets/images/8.jpg" class="img-circle img-responsive">
        <img src="./assets/images/9.jpg" class="img-circle img-responsive">

      </div>
    </div><!-- This column wraps up the chat list on left !-->

    <div class="col-xs-10 col-sm-10"
         style="background-color: #2a5452; padding-top: 25px; padding-bottom: 25px; height: 100vh; overflow-y: scroll;">

      <div class="header">
        <img src="./assets/images/logo.png" class="img-responsive" style="float: left;">
        <img src="./assets/images/login-member.png" class="img-responsive" style="float: right;">
      </div>

      <div class="grid-stack">
        <div class="grid-stack-item"
             data-gs-x="0" data-gs-y="0"
             data-gs-width="6" data-gs-height="3"
             style="cursor: pointer">
          <div class="grid-stack-item-content grid-email">
            <h1>Audios</h1>
            <h2>You have <b>2</b> Audios in Gallery</h2>
          </div>
        </div>
      </div>
    </div><!-- end div for widgets wrapper !-->
  </div><!-- End div for content area !-->
</div>

</body>
</html>
