<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>Title</title>
</head>
<body>

<div>
  <button (click)='routeTo("/admin/dashboard")' class="btn btn-primary">Admin Dashboard</button>
</div>

<p-accordion>
  <p-accordionTab header="ESPN CricInfo">
    <ul>
    <li *ngFor="let links of espndata">
      <p><u>Title</u><br> {{links.title}}</p>
      <iframe name="iframe1" width="80%" height="150"></iframe>
    <a href={{links.url}} target="iframe1">Link</a>
      <a href={{links.urlToImage}} target="_blank">Image</a>
      <p><u>Descript                                                                                                                                                                                            ion</u><br> {{links.description}}</p>
      <p><u>Publish AT</u><br> {{links.publishedAt}}</p>
    </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="CNBC News">
    <ul>
      <li *ngFor="let links of cnbcdata">
        <p><u>Title</u><br> {{links.title}}</p>
        <iframe name="iframe2" width="80%" height="150"></iframe>
        <a href={{links.url}} target="iframe2">Link</a>
        <a href={{links.urlToImage}} target="_blank">Image</a>
        <p><u>Description</u><br> {{links.description}}</p>
        <p><u>Publish AT</u><br> {{links.publishedAt}}</p>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="BBC News">
    <ul>
      <li *ngFor="let links of bbcdata">
        <p><u>Title</u><br> {{links.title}}</p>
        <iframe name="iframe3" width="80%" height="150"></iframe>
        <a href={{links.url}} target="iframe3">Link</a>
        <a href={{links.urlToImage}} target="_blank">Image</a>
        <p><u>Description</u><br> {{links.description}}</p>
        <p><u>Publish AT</u><br> {{links.publishedAt}}</p>
      </li>
    </ul>
  </p-accordionTab>
</p-accordion>
</body>
</html>
