<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>Title</title>
</head>
<body>
  <div class="col-md-6 col-md-offset-3">
    <form (ngSubmit)="submit()" novalidate>
      <input
        [(ngModel)]="title"
        (keyup.escape)="clear()"
        autocomplete="off"
        autofocus
        class="form-control"
        name="title"
        placeholder="What needs to be done?"
        required
        type="text">
    </form>
  </div>

<div>
  <button (click) = 'all()' class="btn btn-primary">All Tasks</button>
  <button (click) = 'completes()' class="btn btn-primary">Complete Tasks</button>
  <button (click) = 'inCompletes()' class="btn btn-primary">InComplete Tasks</button>

</div>
  <div class="content-section implementation">
    <p-dataTable [value]="tasks" [rows]="5" [paginator]="true" [pageLinks]="3"
                 [rowsPerPageOptions]="[5,10,20]" [rowTrackBy]="rowTrackBy"
                 resizableColumns="true" [immutable]=false>
      <p-column *ngFor="let col of incomplete" [field]="col.field" [filter]="true"
                [header]="col.header" [sortable]="true"></p-column>

      <p-column styleClass="col-button" header="Complete">
        <ng-template let-task="rowData" pTemplate="body">
          <button type="button" pButton (click)="complete(task)" icon="fa-pencil-square-o"></button>
        </ng-template>
      </p-column>

      <p-column styleClass="col-button" header="Edit">
        <ng-template let-task="rowData" pTemplate="body">
          <button type="button" pButton (click)="edit(task)" icon="fa-pencil-square-o"></button>
        </ng-template>
      </p-column>

      <p-column styleClass="col-button" header="Delete">
        <ng-template let-task="rowData" pTemplate="body">
          <button type="button" pButton (click)="delete(task)" icon="fa-trash"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</body>
</html>
