<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Senior Sponge</title>

  <!-- Style Sheets !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"

        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css">


  <style>
    .photos {
      display: block;
      padding-left: 5%;
    }

    .photos ul {
      list-style: none;

    }

    .photos ul li {
      display: inline;
    }

    .photos ul li a {
      display: block;
      float: left;
      padding: 4px;
      margin-right: 10px;
      margin-bottom: 7px;
      opacity: 0.75;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }

    .photos ul li a:hover {
      opacity: 1.0;
    }

    .photos ul li a img {
      border: 6px solid #e1d9ec;
    }

    /* footer */
    #credits {
      display: block;
      padding: 5px 6px;
      text-align: center;
    }

    #credits p {
      font-size: 1.2em;
      color: #666;
      text-shadow: 0 1px 0 #fff;
    }

    #credits p a {
      color: #798fad;
    }

    #credits p a:hover {
      color: #4d6b94;
    }

    /* CSS Clearfix */
    .clearfix:before, .clearfix:after {
      content: "";
      display: table;
    }

    .clearfix:after {
      clear: both;
    }

    .clearfix {
      zoom: 1;
    }

    .center {
      margin-top: 50px;
    }

    .modal-header {
      padding-bottom: 5px;
    }

    .modal-footer {
      padding: 0;
    }

    .modal-footer .btn-group button {
      height: 40px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
      border-right: 0;
    }
  </style>
</head>

<body>
<div class="container-fluid">
  <!-- style="height: 100vh;"!-->
  <div class="row">
    <div class="col-xs-2 col-sm-2 chat-list" style="height: 100vh;">
      <div class="dropdown">
        <button class="select-category" type="button" data-toggle="dropdown">Select Category<span
          class="glyphicon glyphicon-menu-hamburger"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Family</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Helpers</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <div class="chat-member-container">
        <img src="./assets/images/1.jpg" class="img-circle img-responsive">
        <img src="./assets/images/2.jpg" class="img-circle img-responsive">
        <img src="./assets/images/3.jpg" class="img-circle img-responsive">
        <img src="./assets/images/4.jpg" class="img-circle img-responsive">
        <img src="./assets/images/5.jpg" class="img-circle img-responsive">
        <img src="./assets/images/6.jpg" class="img-circle img-responsive">
        <img src="./assets/images/7.jpg" class="img-circle img-responsive">
        <img src="./assets/images/8.jpg" class="img-circle img-responsive">
        <img src="./assets/images/9.jpg" class="img-circle img-responsive">
      </div>
    </div><!-- This column wraps up the chat list on left !-->

    <div class="col-xs-10 col-sm-10"
         style="background-color: #2a5452; padding-top: 25px; padding-bottom: 25px; height: 100vh; overflow-y: scroll;">
      <div class="header">
        <img src="./assets/images/logo.png" class="img-responsive" style="float: left;">
        <img src="./assets/images/login-member.png" class="img-responsive" style="float: right;">
      </div>
      <div>
        <div style="float: left">
          <button class="btn btn-primary" style="font-size: small" (click)="go_to('gallery')">
            Back To Gallery
          </button>
        </div>
        <div style="float: right">
          <button class="btn btn-primary" data-toggle="modal" data-target="#createAlbumModal" style="font-size: small">
            Create
            New Album
          </button>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="photos">
        <ul class="clearfix">
          <li *ngFor="let album of albums">
            <a [routerLink]="['/user/album',album.id]">
              <img src="/assets/uploads/{{album.albumThumbnail}}"
                   data-lightbox="image-1" width="150" height="150"/>
              <br>
              <span
                style="padding-left:28%;text-align: center; color: white; font-size: medium;">{{album.albumName}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- end div for widgets wrapper !-->
  </div><!-- End div for content area !-->

  <!-- Create Album Modal -->
  <!-- Login Modal -->
  <div id="createAlbumModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-top">
          <h4 class="float-left">Create an Album</h4>
          <button type="button" class="close float-right" data-dismiss="modal" #closeLoginBtn>&times;</button>
        </div>
        <div class="modal-body">
          <form id="createAlbumForm" method="post" name="form" (ngSubmit)="createAlbum()"
                #ff="ngForm" novalidate>
            <div class="form-group">
              <input type="text" [(ngModel)]="albumName" name="album_Name" class="form-control" id="albumName"
                     aria-describedby="albumNameHelp" placeholder="Album Name"
                     required>
              <div class="help-block">Album Name is required or Invalid</div>
            </div>
            <div class="form-group">
              <input type="file" name="album_Thumbnail" (change)="fileChanged($event)" class="form-control"
                     id="albumThumbnail"
                     aria-describedby="albumThumbnailHelp" placeholder="Album Thumbnail">
            </div>
            <div class="form-group">
              <button class="btn float-right">Create</button>
            </div>
          </form>
          <!--<button type="button" [disabled]="!btnsignup" class="btn float-right">Submit</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
