<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />

</head>
<body>
    <div class="modal-body">
      <h4 class="float-left">User Profile</h4>
      <form id="mySignUpFrom" name="form" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_Name.valid }">
          <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="First Name"
                 (keydown.space)="$event.preventDefault()" #first_Name="ngModel" required
                 pattern="[a-zA-Z][a-zA-Z ]+">
          <div *ngIf="f.submitted && !first_Name.valid" class="help-block">First Name is required or Invalid</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_Name.valid }">
          <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Last Name"
                 (keydown.space)="$event.preventDefault()" #last_Name="ngModel" required
                 pattern="[a-zA-Z][a-zA-Z ]+">
          <div *ngIf="f.submitted && !last_Name.valid" class="help-block">Last Name is required or Invalid</div>
        </div>


        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_Name.valid }">
          <input type="text" [(ngModel)]="userName" name="userName" class="form-control" id="username" aria-describedby="emailHelp" placeholder="User Name"
                 #user_Name="ngModel" required>
          <div *ngIf="f.submitted && !user_Name.valid" class="help-block">User Name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !eMail.valid }">
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Email Address"
                 (keydown.space)="$event.preventDefault()" #eMail="ngModel" required
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div *ngIf="f.submitted && !eMail.valid" class="help-block">Email is required or Invalid</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Password"
                 (keydown.space)="$event.preventDefault()" #passWord="ngModel" required>
          <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repassWord.valid }">
          <input type="password" [(ngModel)]="repassword" name="repassword" class="form-control" id="repassword" aria-describedby="emailHelp" placeholder="Retype Password"
                 (keydown.space)="$event.preventDefault()" #repassWord="ngModel" required>
          <div *ngIf="f.submitted && !repassWord.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
          <input type="text" [(ngModel)]="lat" name="lat" class="form-control" id="lat" aria-describedby="emailHelp" placeholder="Latitude"
                 (keydown.space)="$event.preventDefault()" #latitude="ngModel" required
                 pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" maxlength="12">
          <div *ngIf="f.submitted && !latitude.valid" class="help-block">Latitude is required or invalid</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
          <input type="text" [(ngModel)]="long" name="long" class="form-control" id="long" aria-describedby="emailHelp" placeholder="Longitude"
                 (keydown.space)="$event.preventDefault()" #longitude="ngModel" required
                 pattern="^-?([1]?[1-7][1-9]|[1]?[1-8][0]|[1-9]?[0-9])\.{1}\d{1,6}" maxlength="12">
          <div *ngIf="f.submitted && !longitude.valid" class="help-block">Longitude is required or invalid</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Age.valid }">
          <input type="text" [(ngModel)]="age" name="age" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Age"
                 (keydown.space)="$event.preventDefault()" #Age="ngModel" required
                 pattern="[0-9]*" maxlength="3">
          <div *ngIf="f.submitted && !Age.valid" class="help-block">Age is required or invalid</div>
        </div>

        <div class="form-group">
          <p-dropdown [options]="_usertypeid" [(ngModel)]="selectedUserType" name="selectedUserType"
                      [style]="{'width':'250px'}" [filter]="true"></p-dropdown>
        </div>

        <div class="form-group">
          <p-dropdown [options]="_communityid" [(ngModel)]="selectedCommunityId"
                      name="selectedCommunityId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>
        </div>

        <div class="form-group">
          <button class="btn float-right">Submit</button>
        </div>

        <p-growl [value]="msgs" [style]="{'position': 'absolute', 'top': '0px','right':'0px'}"></p-growl>
      </form>

      <button type="button" [disabled]="!btndashboard" (click)="routeTo('/dashboard')" class="btn float-right">Cancel</button>
    </div>
</body>
</html>
