@charset "utf-8";
/* CSS Document */

body{
  font-family: "Droid Sans";
}

/*login page*/
.login-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 10px;
  width:30%;
  margin-bottom:10px;
  font-family: "Droid Sans";
  font-size:17px;
}
.login-btn:hover{
  background: #D9853C;
  border: 1px solid white;
  color: white;
}

/*login modal*/
.modal-body h4{
  font-family: "Droid Sans";
  font-size:20px;
  color:#545454;
}
.modal-body {
  background: #ececea;
  padding: 40px 45px;
}
.modal-body .form-control{
  background:white;
  border:1px solid #e3e3e1;
  color:#d3d1d1;
  border-radius:5px;
  margin-bottom:10px;
  font-family: "Droid Sans";
  font-size:16px;
  padding:20px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#d3d1d1;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color:#d3d1d1;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color:#d3d1d1;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color:#d3d1d1;
}

.modal-body .btn{
  background:#24a0aa;
  padding:7px 25px;
  font-family: "Droid Sans";
  font-size:16px;
  color:white;
  border-radius:5px;
}

@media (max-width: 575px){
  .login-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 10px;
    width:50%;
    margin-bottom:10px;
    font-family: "Droid Sans";
    font-size:17px;
  }
  .modal-content {
    top: 270px;
  }
}
