<div >
  <h2>{{title}}</h2>
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />

  <form id="myLoginFrom" name="form" (ngSubmit)="ff.form.valid && login()" #ff="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': ff.submitted && !leMail.valid }">
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="lemail" aria-describedby="emailHelp" placeholder="Email Address"
             (keydown.space)="$event.preventDefault()" #leMail="ngModel" required
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div *ngIf="ff.submitted && !leMail.valid" class="help-block">Email is required or Invalid</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': ff.submitted && !lpassWord.valid }">
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="lpassword" aria-describedby="emailHelp" placeholder="Password"
             (keydown.space)="$event.preventDefault()" #lpassWord="ngModel" required>
      <div *ngIf="ff.submitted && !lpassWord.valid" class="help-block">Password is required or Invalid</div>
    </div>

    <div class="form-group">
      <button class="btn float-right">Admin Login</button>
    </div>

    <p-growl [value]="msgs"></p-growl>
  </form>
  <button (click)='routeToDashboard()' class="btn btn-primary">Main Dashboard</button>
</div>
