<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>Admin Dashboard</title>
</head>
<body>

  <p-growl [value]="msgs"></p-growl>
  <div>
    <button (click)='routeToCommunity()' class="btn btn-primary">Community</button>
  </div>
  <div>
    <button (click)='routeToCommunityType()' class="btn btn-primary">Community Type</button>
  </div>
  <div>
    <button (click)='routeToCommunityMeta()' class="btn btn-primary">Community Meta</button>
  </div>
  <div>
    <button (click)='routeToCommunityLocation()' class="btn btn-primary">Community Location</button>
  </div>
  <div>
    <button (click)='routeToUser()' class="btn btn-primary">User</button>
  </div>
  <div>
    <button (click)='routeToEvent()' class="btn btn-primary">Event</button>
  </div>
  <div>
    <button (click)='routeToEventUI()' class="btn btn-primary">Event Dashoard</button>
  </div>
  <div>
    <button (click)='routeToUserType()' class="btn btn-primary">User Type</button>
  </div>
  <div>
    <button (click)='routeToClasses()' class="btn btn-primary">Classes</button>
  </div>
  <div>
    <button (click)='routeToFileUpload()' class="btn btn-primary">File Upload</button>
  </div>
  <div>
    <button (click)='routeToNewsFeed()' class="btn btn-primary">News Feed Page</button>
  </div>
  <div>
    <button (click)='routeToDashboard()' class="btn btn-primary">Main Dashboard</button>
  </div>
  <div>
    <button (click)='logout()' class="btn btn-primary">Logout</button>
  </div>
</body>
</html>
