<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <p-growl [value]="msgs"></p-growl>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_Name.valid }">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control"
             (keydown.space)="$event.preventDefault()" #first_Name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !first_Name.valid" class="help-block">First Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_Name.valid }">
      <label for="lastName">Last Name</label>
      <input  type="text" [(ngModel)]="lastName" name="lastName" class="form-control"
              (keydown.space)="$event.preventDefault()" #last_Name="ngModel" required
              pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !last_Name.valid" class="help-block">Last Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_Name.valid }">
      <label for="userName">User Name</label>
      <input  type="text" [(ngModel)]="userName" name="userName" class="form-control"
               #user_Name="ngModel" required/>
      <div *ngIf="f.submitted && !user_Name.valid" class="help-block">User Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !eMail.valid }">
      <label for="email">Email</label>
      <input  type="text" [(ngModel)]="email" name="email" class="form-control"
              (keydown.space)="$event.preventDefault()" #eMail="ngModel" required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
      <div *ngIf="f.submitted && !eMail.valid" class="help-block">Email is requiredor Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
      <label for="password">Password</label>
      <input  type="password" [(ngModel)]="password" name="password" class="form-control"
              (keydown.space)="$event.preventDefault()" #passWord="ngModel" required/>
      <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repassWord.valid }">
      <label for="repassword">Re-Password</label>
      <input  type="password" [(ngModel)]="repassword" name="repassword" class="form-control"
              (keydown.space)="$event.preventDefault()" #repassWord="ngModel" required/>
      <div *ngIf="f.submitted && !repassWord.valid" class="help-block">Re-Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
      <label for="lat">Latitude</label>
      <input  type="text" [(ngModel)]="lat" name="lat" class="form-control"
              (keydown.space)="$event.preventDefault()" #latitude="ngModel" required
              pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" maxlength="12"/>
      <div *ngIf="f.submitted && !latitude.valid" class="help-block">Latitude is required or invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
      <label for="long">Longitude</label>
      <input  type="text" [(ngModel)]="long" name="long" class="form-control"
              (keydown.space)="$event.preventDefault()" #longitude="ngModel" required
              pattern="^-?([1]?[1-7][1-9]|[1]?[1-8][0]|[1-9]?[0-9])\.{1}\d{1,6}" maxlength="12" />
      <div *ngIf="f.submitted && !longitude.valid" class="help-block">Longitude is required or invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Age.valid }">
      <label for="age">Age</label>
      <input  type="text" [(ngModel)]="age" name="age" class="form-control"
              (keydown.space)="$event.preventDefault()" #Age="ngModel" required
              pattern="[0-9]*" maxlength="3"/>
      <div *ngIf="f.submitted && !Age.valid" class="help-block">Age is required</div>
    </div>
    <div class="form-group">
      <label>User Type</label>
      <p-dropdown [options]="_usertypeid" [(ngModel)]="selectedUserType" name="selectedUserType"
                  [style]="{'width':'250px'}" [filter]="true"></p-dropdown>
    </div>
    <div class="form-group">
      <label>Community</label>
      <p-dropdown [options]="_communityid" [(ngModel)]="selectedCommunityId"
                  name="selectedCommunityId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>
    </div>
    <div [hidden]="!isedited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Active.valid }">
      <label for="isActive">Is Active</label>
      <input  type="text" [(ngModel)]="isActive" name="isActive" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Active="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Active.valid" class="help-block">Write true or false</div>
    </div>
    <div [hidden]="!isedited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Delete.valid }">
      <label for="isDelete">Is Delete</label>
      <input  type="text" [(ngModel)]="isDelete" name="isDelete" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Delete="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Delete.valid" class="help-block">Write true or false</div>
    </div>
    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Add User</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">User Grid</button>
      <button [disabled]="!btnedit" (click) = 'editUser()' class="btn btn-primary">Edit User</button>
    </div>
  </form>
</div>
</body>
</html>
