<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_name.valid }">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control"
             (keydown.space)="$event.preventDefault()" #_name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !_name.valid" class="help-block">Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !profile_Name.valid }">
      <label for="profileName">Profile Name</label>
      <input  type="text" [(ngModel)]="profileName" name="profileName" class="form-control"
              (keydown.space)="$event.preventDefault()" #profile_Name="ngModel" required
              pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !profile_Name.valid" class="help-block">Profile Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_address.valid }">
      <label for="address">Address</label>
      <input  type="text" [(ngModel)]="address" name="address" class="form-control"
              (keydown.space)="$event.preventDefault()" #_address="ngModel" required
              />
      <div *ngIf="f.submitted && !_address.valid" class="help-block">Address is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
      <label for="lat">Latitude</label>
      <input  type="text" [(ngModel)]="lat" name="lat" class="form-control"
              (keydown.space)="$event.preventDefault()" #latitude="ngModel" required
              pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" maxlength="12"/>
      <div *ngIf="f.submitted && !latitude.valid" class="help-block">Latitude is required or invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
      <label for="long">Longitude</label>
      <input  type="text" [(ngModel)]="long" name="long" class="form-control"
              (keydown.space)="$event.preventDefault()" #longitude="ngModel" required
              pattern="^-?([1]?[1-7][1-9]|[1]?[1-8][0]|[1-9]?[0-9])\.{1}\d{1,6}" maxlength="12" />
      <div *ngIf="f.submitted && !longitude.valid" class="help-block">Longitude is required or invalid</div>
    </div>
    <div [hidden]="!edited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Active.valid }">
      <label for="isActive">IsActive</label>
      <input  type="text" [(ngModel)]="isActive" name="isActive" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Active="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Active.valid" class="help-block">Write true or false</div>
    </div>
    <div [hidden]="!edited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Delete.valid }">
      <label for="isDelete">IsDelete</label>
      <input  type="text" [(ngModel)]="isDelete" name="isDelete" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Delete="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Delete.valid" class="help-block">Write true or false</div>
    </div>
    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Add Community</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">Community Grid</button>
      <button [disabled]="!btnedit" (click) = 'editCommunity()' class="btn btn-primary">Edit Community</button>
    </div>
  </form>
</div>

</body>
</html>
