<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <p-growl [value]="msgs"></p-growl>
    <div class="form-group">
      <label>User Type</label>
      <p-dropdown [options]="_usertypeid" [(ngModel)]="selectedUserType" name="selectedUserType"
                  [style]="{'width':'250px'}" [filter]="true" (onChange)="onUserTypeChange()"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>User Email</label>
      <p-dropdown [disabled]="!userdropdown" [options]="_userid" [(ngModel)]="selectedUserId" name="selectedUserId"
                  [style]="{'width':'250px'}" [filter]="true" (onChange)="onUserChange()"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Community Name</label>
      <p-dropdown [disabled]="!dropdown" [options]="_communityid" [(ngModel)]="selectedCommunityId"
                  name="selectedCommunityId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>
    </div>

    <div [hidden]="!edited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Active.valid }">
      <label for="isActive">IsActive</label>
      <input  type="text" [(ngModel)]="isActive" name="isActive" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Active="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Active.valid" class="help-block">Write true or false</div>
    </div>

    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Add Community Type</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">Community Type Grid</button>
      <button [disabled]="!btnedit" (click) = 'editCommunityType()' class="btn btn-primary">Edit Community Type</button>
    </div>
  </form>
</div>
</body>
</html>
