<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>SignUp</h2>
  <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_Name.valid }">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control"
             (keydown.space)="$event.preventDefault()" #first_Name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !first_Name.valid" class="help-block">First Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_Name.valid }">
      <label for="lastName">Last Name</label>
      <input  type="text" [(ngModel)]="lastName" name="lastName" class="form-control"
              (keydown.space)="$event.preventDefault()" #last_Name="ngModel" required
              pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !last_Name.valid" class="help-block">Last Name is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_Name.valid }">
      <label for="userName">User Name</label>
      <input  type="text" [(ngModel)]="userName" name="userName" class="form-control"
              (keydown.space)="$event.preventDefault()" #user_Name="ngModel" required/>
      <div *ngIf="f.submitted && !user_Name.valid" class="help-block">User Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !eMail.valid }">
      <label for="email">Email</label>
      <input  type="text" [(ngModel)]="email" name="email" class="form-control"
              (keydown.space)="$event.preventDefault()" #eMail="ngModel" required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
      <div *ngIf="f.submitted && !eMail.valid" class="help-block">Email is required or Invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
      <label for="password">Password</label>
      <input  type="password" [(ngModel)]="password" name="password" class="form-control"
              (keydown.space)="$event.preventDefault()" #passWord="ngModel" required/>
      <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repassWord.valid }">
      <label for="repassword">Re-Password</label>
      <input  type="password" [(ngModel)]="repassword" name="repassword" class="form-control"
              (keydown.space)="$event.preventDefault()" #repassWord="ngModel" required/>
      <div *ngIf="f.submitted && !repassWord.valid" class="help-block">Re-Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
      <label for="lat">Latitude</label>
      <input  type="text" [(ngModel)]="lat" name="lat" class="form-control"
              (keydown.space)="$event.preventDefault()" #latitude="ngModel" required
              pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" maxlength="12"/>
      <div *ngIf="f.submitted && !latitude.valid" class="help-block">Latitude is required or invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
      <label for="long">Longitude</label>
      <input  type="text" [(ngModel)]="long" name="long" class="form-control"
              (keydown.space)="$event.preventDefault()" #longitude="ngModel" required
              pattern="^-?([1]?[1-7][1-9]|[1]?[1-8][0]|[1-9]?[0-9])\.{1}\d{1,6}" maxlength="12" />
      <div *ngIf="f.submitted && !longitude.valid" class="help-block">Longitude is required or invalid</div>
    </div>
    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !createddate.valid }">-->
      <!--<label for="createdDate">Create Date</label>-->
      <!--<input  type="text" [(ngModel)]="createdDate" name="createdDate" class="form-control"-->
              <!--(keydown.space)="$event.preventDefault()" #createddate="ngModel" required/>-->
      <!--<div *ngIf="f.submitted && !createddate.valid" class="help-block">First Name is required</div>-->
    <!--</div>-->
    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modifieddate.valid }">-->
      <!--<label for="modifiedDate">Modified Date</label>-->
      <!--<input  type="text" [(ngModel)]="modifiedDate" name="modifiedDate" class="form-control"-->
              <!--(keydown.space)="$event.preventDefault()" #modifieddate="ngModel" required/>-->
      <!--<div *ngIf="f.submitted && !modifieddate.valid" class="help-block">Modified Date is required</div>-->
    <!--</div>-->
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Age.valid }">
      <label for="age">Age</label>
      <input  type="text" [(ngModel)]="age" name="age" class="form-control"
              (keydown.space)="$event.preventDefault()" #Age="ngModel" required
              pattern="[0-9]*" maxlength="3"/>
      <div *ngIf="f.submitted && !Age.valid" class="help-block">Age is required</div>
    </div>
    <div class="form-group">
      <label>User Type</label>
      <p-dropdown [options]="_usertypeid" [(ngModel)]="selectedUserType" name="selectedUserId"
                  [style]="{'width':'250px'}" [filter]="true"></p-dropdown>
    </div>
    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !createdby.valid }">-->
      <!--<label for="createdBy">Create By</label>-->
      <!--<input  type="text" [(ngModel)]="createdBy" name="createdBy" class="form-control"-->
              <!--(keydown.space)="$event.preventDefault()" #createdby="ngModel" required/>-->
      <!--<div *ngIf="f.submitted && !createdby.valid" class="help-block">Created By is required</div>-->
      <!--<h5>If you login from an y ID, it take your ID as created by</h5>-->
    <!--</div>-->
    <div class="form-group">
      <button [disabled]="!btnsignup" class="btn btn-primary">Sign Up</button>
      <button (click) = 'routeToLogin()' class="btn btn-primary">Login</button>
      <button [disabled]="!btnedit" (click) = 'editUser()' class="btn btn-primary">Edit User</button>
    </div>
  </form>
</div>

</body>
</html>
