@charset "utf-8";
/* CSS Document */

body{
  font-family: "Droid Sans";
}

.chat-list{
  background-color:#356663;
  border-right: 1px solid #4c8683;
  box-shadow: -20px 1px 100px black;
  z-index: 1;
  padding: 0;
  text-align: center;
  overflow-y: scroll;
}
.select-category{
  background-color:#4c8683;
  border: none;
  width:100%;
  color: #f2f2f2;
  font-size: 16px;
  padding: 10px;
}
.glyphicon{
  float: right;
  font-size: 18px;
}
.chat-member-container{
  padding-top: 10px;
}
.chat-member-container img{
  border: 2px solid white;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;

}
.grid-stack-item-content {
  color: #fff;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}
#whatever::-webkit-scrollbar {display:none;}
.grid-email {
  background-color: #d64937;
  background-image:url(../assets/images/email.png);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 110px;
}
.grid-todo {
  background-color: #adaf2a;
  background-image:url(../assets/images/todo.png);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 110px;
}
.grid-community {
  background-color: #2cb27e;
  background-image:url(../assets/images/community.png);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 110px;
}
.grid-photos {
  background-color: #2cb27e;
  background-image:url(../assets/images/photos.png);
  background-repeat: repeat;
  background-position: center top;
  padding-top: 110px;
}
.grid-event {
  background-color: #e29e26;
  background-image:url(../assets/images/event.png);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 110px;
}
.grid-browser {
  background-color: #24a0aa;
  background-image:url(../assets/images/browser.png);
  background-repeat: no-repeat;
  background-position: center 30px;
  padding-top: 110px;
}
.grid-weather {
  background-color: #002c3f;
  padding-top: 30px;
}
.grid-news {
  background-color: #2cb27e;
  background-image:url(../assets/images/news-changeable.png);
  background-repeat: repeat;
  background-position: center top;
  padding-top: 30px;
}
.grid-news h3{
  background-color: #3e0066;
  padding: 5px;
  border-radius:10px;
  opacity: 0.9;
}
.grid-stack{


}
.grid-stack-item{

}
.glyphicon-envelope{
  float: left;
}

.dropdown ul{
  width:100%;
  background-color: #2a5452;
}
.dropdown li a{
  color:#fff;
  font-size: 18px;
}
.grid-stack{
  width: 98%;
}
.header{
  background-color:#254a48;
  border-bottom: 1px solid #95aaa9;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  width:100%;
  padding: 5px;
}
.col-xs-10, col-sm-10{
  padding-top:100px!important;
}


/*login page*/
.login-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 10px;
  width:30%;
  margin-bottom:10px;
  font-family: "Droid Sans";
  font-size:17px;
}
.login-btn:hover{
  background: #D9853C;
  border: 1px solid white;
  color: white;
}

/*login modal*/
.modal-content{
  top:200px;
}
.modal-top{
  background:#f4f4f4;
  padding:15px 20px;
}
.modal-top h4{
  font-family: "Droid Sans";
  font-size:20px;
  color:#545454;
}

.modal-top .close{
  border: 1px solid #dedede;
  color:#d9853c;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
}
.modal-body {
  background: #ececea;
  padding: 40px 45px;
}
.modal-body .form-control{
  background:white;
  border:1px solid #e3e3e1;
  color:#d3d1d1;
  border-radius:5px;
  margin-bottom:10px;
  font-family: "Droid Sans";
  font-size:16px;
  padding:20px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#d3d1d1;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color:#d3d1d1;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color:#d3d1d1;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color:#d3d1d1;
}

.modal-body .btn{
  background:#24a0aa;
  padding:7px 25px;
  font-family: "Droid Sans";
  font-size:16px;
  color:white;
  border-radius:5px;
}

@media (max-width: 575px){
  .login-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 10px;
    width:50%;
    margin-bottom:10px;
    font-family: "Droid Sans";
    font-size:17px;
  }
  .modal-content {
    top: 270px;
  }
}
