<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="content-section implementation">
  <h1>{{title}}</h1>
  <p-growl [value]="msgs"></p-growl>
  <p-splitButton label="Main Dashboard" icon="fa-check" (onClick)="dashboard()" [model]="items"></p-splitButton>
</div>

<form name="form" enctype="multipart/form-data">
  <!--<p-selectButton [options]="types" [(ngModel)]="selectedFileType" name="selectedFileType"></p-selectButton>-->
  <input [disabled]="filesubmit" type="file" name='avatar' multiple="multiple" (change)="fileChanged($event)" placeholder="Upload file..."><br>
</form>

<div class="content-section implementation">
  <p-dataTable [value]="fileUploads" [rows]="5" [paginator]="true" [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]" [rowTrackBy]="rowTrackBy"
               resizableColumns="true" [immutable]=false>
    <p-column *ngFor="let col of cols" [field]="col.field" [filter]="true"
              [header]="col.header" [sortable]="true"></p-column>

    <!--<p-column styleClass="col-button" header="Edit">-->
    <!--<ng-template let-community="rowData" pTemplate="body">-->
    <!--<button type="button" pButton (click)="edit(community)" icon="fa-pencil-square-o"></button>-->
    <!--</ng-template>-->
    <!--</p-column>-->

    <!--<p-column styleClass="col-button" header="Delete">-->
    <!--<ng-template let-community="rowData" pTemplate="body">-->
    <!--<button type="button" pButton (click)="delete(community)" icon="fa-trash"></button>-->
    <!--</ng-template>-->
    <!--</p-column>-->
  </p-dataTable>
</div>

</body>
</html>
