<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <p-growl [value]="msgs"></p-growl>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_name.valid }">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control"
             (keydown.space)="$event.preventDefault()" #_name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !_name.valid" class="help-block">Name is required or Invalid</div>
    </div>
    <div class="form-group">
      <label>Community ID</label>
      <p-dropdown [options]="_communityid" [(ngModel)]="selectedCommunityId"
                  name="selectedCommunityId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>
    </div>
    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Add Community Meta</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">Community Meta Grid</button>
      <button [disabled]="!btnedit" (click) = 'editCommunityMeta()' class="btn btn-primary">Edit Community Meta</button>
    </div>
  </form>
</div>
</body>
</html>
