<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Senior Sponge</title>
  <!-- Style Sheets !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css">
</head>

<body>
<div class="container-fluid">
  <!-- style="height: 100vh;"!-->
  <div class="row">
    <div class="col-xs-2 col-sm-2 chat-list" style="height: 100vh;">
      <div class="dropdown">
        <button class="select-category" type="button" data-toggle="dropdown">Select Category<span
          class="glyphicon glyphicon-menu-hamburger"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Family</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Helpers</a></li>
          <li><a (click)="routeTo('/user/profile')">Profile</a></li>
          <li><a (click)="routeTo('/admin/dashboard')">Admin Dashboard</a></li>
          <li><a (click)="routeTo('/hangman')">Hangman Game</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <div class="chat-member-container">
        <img src="./assets/images/1.jpg" class="img-circle img-responsive">
        <img src="./assets/images/2.jpg" class="img-circle img-responsive">
        <img src="./assets/images/3.jpg" class="img-circle img-responsive">
        <img src="./assets/images/4.jpg" class="img-circle img-responsive">
        <img src="./assets/images/5.jpg" class="img-circle img-responsive">
        <img src="./assets/images/6.jpg" class="img-circle img-responsive">
        <img src="./assets/images/7.jpg" class="img-circle img-responsive">
        <img src="./assets/images/8.jpg" class="img-circle img-responsive">
        <img src="./assets/images/9.jpg" class="img-circle img-responsive">
      </div>
    </div><!-- This column wraps up the chat list on left !-->
    <div class="col-xs-10 col-sm-10"
         style="background-color: #2a5452; padding-top: 25px; padding-bottom: 25px; height: 100vh; overflow-y: scroll;">
      <div class="header">
        <img src="./assets/images/logo.png" class="img-responsive" style="float: left;">
        <img src="./assets/images/login-member.png" class="img-responsive" style="float: right;">
      </div>
      <div class="grid-stack">
        <div class="grid-stack-item"
             data-gs-x="0" data-gs-y="0"
             data-gs-width="4" data-gs-height="3">
          <div class="grid-stack-item-content grid-email">
            <h1>Emails</h1>
            <h2>You have <b>3</b> new emails</h2>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="4" data-gs-y="0"
             data-gs-width="4" data-gs-height="3">
          <div class="grid-stack-item-content grid-todo">
            <h1>To do list</h1>
            <h2>You have <b>5</b> new tasks to do</h2>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="8" data-gs-y="0"
             data-gs-width="4" data-gs-height="3">
          <div class="grid-stack-item-content grid-community">
            <h1>My Community</h1>
            <h2>Sign Up for Podiatrist</h2>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="0" data-gs-y="3"
             data-gs-width="4" data-gs-height="3"
             style="cursor: pointer;" (click)="go_to('gallery')">
          <div class="grid-stack-item-content grid-photos">
            <h1>My Photos</h1>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="4" data-gs-y="3"
             data-gs-width="8" data-gs-height="6">
          <div class="grid-stack-item-content grid-event">
            <h1>Events</h1>
            <h2>Who wants to be a Millionaire, today at 15:00</h2>
            <br/><br/>
            <img src="./assets/images/calendar-dummy.png" class="img-responsive">
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="0" data-gs-y="6"
             data-gs-width="4" data-gs-height="3">
          <div class="grid-stack-item-content grid-browser">
            <h1>Browser</h1>
            <h2>Open last visited tabs</h2>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="0" data-gs-y="9"
             data-gs-width="8" data-gs-height="3">
          <div class="grid-stack-item-content grid-news">
            <h1>News</h1>
            <br/><br/>
            <h3>US economy adds 227,000 jobs in January – the best
              figures since September...</h3>
            <h3>Finish breakthrough: Making protein out of thin air and electricity...</h3>
          </div>
        </div>
        <div class="grid-stack-item"
             data-gs-x="8" data-gs-y="9"
             data-gs-width="4" data-gs-height="3">
          <div class="grid-stack-item-content grid-weather">
            <h1>33900 Tampere</h1>
            <h3>Cloudy</h3>
            <br/>
            <img src="./assets/images/weather-dummy.png" class="img-responsive">
          </div>
        </div>
      </div><!-- end div for widgets wrapper !-->
    </div><!-- End div for content area !-->
  </div>
</div>
</body>
</html>
