<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>

<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
  <label for="password">Your Original Email Password</label>
  <input  type="password" [(ngModel)]="password" name="password" class="form-control"
          (keydown.space)="$event.preventDefault()" #passWord="ngModel" required/>
  <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
  <label (value)="account">{{account}}</label>
</div>
  </form>
</div>

<div class="content-section implementation">
  <h1>{{title}}</h1>
  <p-growl [value]="msgs"></p-growl>
  <p-splitButton label="Main Dashboard" icon="fa-check" (onClick)="routeTo('/dashboard')" [model]="items"></p-splitButton>
</div>

<div class="content-section implementation">
  <p-dataTable [value]="data" [rows]="5" [paginator]="true" [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]" [rowTrackBy]="rowTrackBy"
               resizableColumns="true" [immutable]=false>
    <p-column *ngFor="let col of cols" [field]="col.field" [filter]="true"
              [header]="col.header" [sortable]="true"></p-column>

    <p-column styleClass="col-button" header="Read/Unread">
      <ng-template let-message="rowData" pTemplate="body">
        <button type="button" pButton (click)="edit(message)" icon="fa-pencil-square-o"></button>
      </ng-template>
    </p-column>

    <p-column styleClass="col-button" header="Open Mail">
      <ng-template let-message="rowData" pTemplate="body">
        <button type="button" pButton (click)="open(message)" icon="fa-pencil-square-o"></button>
      </ng-template>
    </p-column>

  </p-dataTable>
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

  <p-messages [(value)]="msg"></p-messages>
</div>

</body>
</html>
