<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <title>{{title}}</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
  <h2>{{title}}</h2>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_name.valid }">
      <label for="name">First Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control"
             (keydown.space)="$event.preventDefault()" #_name="ngModel" required
             pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div *ngIf="f.submitted && !_name.valid" class="help-block">Name is required or Invalid</div>
    </div>
    <div [hidden]="!isedited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Active.valid }">
      <label for="isActive">Is Active</label>
      <input  type="text" [(ngModel)]="isActive" name="isActive" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Active="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Active.valid" class="help-block">Write true or false</div>
    </div>
    <div [hidden]="!isedited" class="form-group" [ngClass]="{ 'has-error': f.submitted && !is_Delete.valid }">
      <label for="isDelete">Is Delete</label>
      <input  type="text" [(ngModel)]="isDelete" name="isDelete" class="form-control"
              (keydown.space)="$event.preventDefault()" #is_Delete="ngModel"
              pattern="^(true|false)$" />
      <div *ngIf="f.submitted && !is_Delete.valid" class="help-block">Write true or false</div>
    </div>
    <div class="form-group">
      <button [disabled]="!btnsubmit" class="btn btn-primary">Submit</button>
      <button (click) = 'routeToGrid()' class="btn btn-primary">UserType Grid</button>
      <button [disabled]="!btnedit" (click) = 'editUserType()' class="btn btn-primary">Edit UserType</button>
    </div>
  </form>
</div>

</body>
</html>
