<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Senior Sponge</title>

  <!-- Style Sheets !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.css">
  <style>
    .photos {
      display: block;
      padding-left: 5%;
    }

    .photos ul {
      list-style: none;

    }

    .photos ul li {
      display: inline;
    }

    .photos ul li a {
      display: block;
      float: left;
      padding: 4px;
      margin-right: 10px;
      margin-bottom: 7px;
      opacity: 0.75;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }

    .photos ul li a:hover {
      opacity: 1.0;
    }

    .photos ul li a img {
      border: 6px solid #e1d9ec;
    }

    /* footer */
    #credits {
      display: block;
      padding: 5px 6px;
      text-align: center;
    }

    #credits p {
      font-size: 1.2em;
      color: #666;
      text-shadow: 0 1px 0 #fff;
    }

    #credits p a {
      color: #798fad;
    }

    #credits p a:hover {
      color: #4d6b94;
    }

    /* CSS Clearfix */
    .clearfix:before, .clearfix:after {
      content: "";
      display: table;
    }

    .clearfix:after {
      clear: both;
    }

    .clearfix {
      zoom: 1;
    }
  </style>
</head>

<body>
<div class="container-fluid">
  <!-- style="height: 100vh;"!-->
  <div class="row">
    <div class="col-xs-2 col-sm-2 chat-list" style="height: 100vh;">
      <div class="dropdown">
        <button class="select-category" type="button" data-toggle="dropdown">Select Category<span
          class="glyphicon glyphicon-menu-hamburger"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Family</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Helpers</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <div class="chat-member-container">
        <img src="./assets/images/1.jpg" class="img-circle img-responsive">
        <img src="./assets/images/2.jpg" class="img-circle img-responsive">
        <img src="./assets/images/3.jpg" class="img-circle img-responsive">
        <img src="./assets/images/4.jpg" class="img-circle img-responsive">
        <img src="./assets/images/5.jpg" class="img-circle img-responsive">
        <img src="./assets/images/6.jpg" class="img-circle img-responsive">
        <img src="./assets/images/7.jpg" class="img-circle img-responsive">
        <img src="./assets/images/8.jpg" class="img-circle img-responsive">
        <img src="./assets/images/9.jpg" class="img-circle img-responsive">

      </div>
    </div><!-- This column wraps up the chat list on left !-->

    <div class="col-xs-10 col-sm-10"
         style="background-color: #2a5452; padding-top: 25px; padding-bottom: 25px; height: 100vh; overflow-y: scroll;">

      <div class="header">
        <img src="./assets/images/logo.png" class="img-responsive" style="float: left;">
        <img src="./assets/images/login-member.png" class="img-responsive" style="float: right;">
      </div>

      <div style="float: right">
        <button class="btn btn-primary" style="font-size: medium">Add New Image</button>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="photos">
        <ul class="clearfix">
          <li>
            <a href="https://www.youtube.com/embed/pOWRsi6RLzI" data-lightbox="image-1"
               title="Image #1">
              <img src="https://i.imgur.com/uHfYjsK.png"
                   data-lightbox="image-1" width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/EOoQQmW.png" data-lightbox="image-2"
               title="Image #2">
              <img src="https://i.imgur.com/EOoQQmW.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/VPTqPdp.png" data-lightbox="image-3"
               title="Image #3">
              <img src="https://i.imgur.com/VPTqPdp.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/G7EKgOQ.png" data-lightbox="image-4"
               title="Image #4">
              <img src="https://i.imgur.com/G7EKgOQ.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/myR8vnh.png" data-lightbox="image-5"
               title="Image #5">
              <img src="https://i.imgur.com/myR8vnh.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/RD57vEE.png" data-lightbox="image-6"
               title="Image #6">
              <img src="https://i.imgur.com/RD57vEE.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/qdQEJdy.png" data-lightbox="image-7"
               title="Image #7">
              <img src="https://i.imgur.com/qdQEJdy.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/Kjpl4Ux.png" data-lightbox="image-8"
               title="Image #8">
              <img src="https://i.imgur.com/Kjpl4Ux.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/qdQEJdy.png" data-lightbox="image-9"
               title="Image #9">
              <img src="https://i.imgur.com/qdQEJdy.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/Kjpl4Ux.png" data-lightbox="image-10"
               title="Image #10">
              <img src="https://i.imgur.com/Kjpl4Ux.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/Kjpl4Ux.png" data-lightbox="image-11"
               title="Image #11">
              <img src="https://i.imgur.com/Kjpl4Ux.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/EOoQQmW.png" data-lightbox="image-12"
               title="Image #12">
              <img src="https://i.imgur.com/EOoQQmW.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/VPTqPdp.png" data-lightbox="image-13"
               title="Image #13">
              <img src="https://i.imgur.com/VPTqPdp.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/G7EKgOQ.png" data-lightbox="image-14"
               title="Image #14">
              <img src="https://i.imgur.com/G7EKgOQ.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/myR8vnh.png" data-lightbox="image-15"
               title="Image #15">
              <img src="https://i.imgur.com/myR8vnh.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/EOoQQmW.png" data-lightbox="image-16"
               title="Image #16">
              <img src="https://i.imgur.com/EOoQQmW.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/VPTqPdp.png" data-lightbox="image-17"
               title="Image #17">
              <img src="https://i.imgur.com/VPTqPdp.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/G7EKgOQ.png" data-lightbox="image-18"
               title="Image #18">
              <img src="https://i.imgur.com/G7EKgOQ.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/myR8vnh.png" data-lightbox="image-19"
               title="Image #19">
              <img src="https://i.imgur.com/myR8vnh.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/EOoQQmW.png" data-lightbox="image-20"
               title="Image #20">
              <img src="https://i.imgur.com/EOoQQmW.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/VPTqPdp.png" data-lightbox="image-21"
               title="Image #21">
              <img src="https://i.imgur.com/VPTqPdp.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/G7EKgOQ.png" data-lightbox="image-22"
               title="Image #22">
              <img src="https://i.imgur.com/G7EKgOQ.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/myR8vnh.png" data-lightbox="image-23"
               title="Image #23">
              <img src="https://i.imgur.com/myR8vnh.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/RD57vEE.png" data-lightbox="image-24"
               title="Image #24">
              <img src="https://i.imgur.com/RD57vEE.png"
                   width="150" height="150"/>
            </a>
          </li>

          <li>
            <a href="https://i.imgur.com/myR8vnh.png" data-lightbox="image-25"
               title="Image #25">
              <img src="https://i.imgur.com/myR8vnh.png"
                   width="150" height="150"/>
            </a>
          </li>

        </ul>
      </div>
    </div><!-- end div for widgets wrapper !-->
  </div><!-- End div for content area !-->
</div>
<script>
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true
  })
</script>
</body>
</html>
